html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #112c44;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

header {
  margin: 0 auto 1em;
  text-align: center;
}

header img {
  margin-top: 1em;
}

h1 {
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
  font-size: 2.4em;
  padding: 0;
  margin: 0 auto 0.5em;
}

h2 {
  color: #b5b6c1;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 0.7em 0;
  padding: 0;
}

section {
  padding: 1em;
  width: max-content;
  margin: 0 auto 0 auto;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 0.3em 2em 0.3em 0;
}

th:last-child {
  padding: 0;
}

tr:nth-child(2) td {
  padding-top: 0.6em;
}

th {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-bottom: 1px solid #6f7381;
  font-weight: normal;
  color: #b5b6c1;
}

.important {
  color: #ffffff;
}

td.overdrawn {
  color: #fca905;
}

footer {
  background-color: #081d30;
  padding: 0.05em 0;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}
